---
---
@import "{{ site.theme }}";

//大元のpタグやh1タグに装飾する時.main-contentつけないと強さで負けてしまって反映されない！！注意

/*defaoult.htmlの装飾*/
.project-name {
  /* タイトル文字(h1)のスタイル */
}

.project-tagline {
  /* 説明文(h2)のスタイル */
  color: #ffdeca;
  padding:0em;
  margin:0em;
}

.page-header {
  /* 帯全体の背景色など */
  background: #ffdeca;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

.site-footer-credits a{
  color: #928484; /*githubpagesリンクの文字色*/
}

/*通常使うpやh1などの装飾*/
.main-content p {
  margin-bottom: 2.5em;
}

.main-content h1 {
  font-size: 28px;
  color: #928484;
  font-weight: bold;
  padding: 10px 30px;
  margin-bottom: 1em;
}

.main-content h2 {
  font-size: 23px;
  color: #928484;
  font-weight: bold;
  padding: 10px 30px;
  margin-bottom: 1em;
  border-radius: 5px;
  background: #ffdeca;
  text-align: left;
}

.main-content h3 {
  font-size: 20px;
  color: #928484;
  font-weight: bold;
  padding: 10px 30px;
  margin-bottom: 1em;
  text-align: left;
  border-left: 10px solid #ffdeca;
}

/*post.htmlの装飾*/
.date-navigation{
  display: flex;
  justify-content: flex-end;
}

.post-navigation {
  display: flex;
  justify-content: space-between;
}

.post-navigation a {
  color: #928484;  /*前次記事の文字色*/
}

.top-navigation a {
  color: #928484; /*文字色*/
  font-size: 0.9em;
}

/*index.mdの全体装飾*/
.top-page a {
  color: #928484;  
}

/*postsフォルダのmdファイルの装飾*/
.small-text {
  font-size: 85%;
}

/*もくじの装飾*/
.toc-box {
  font-size: 1.2em;
  padding: 0.8em 0.8em 0.8em 0.8em;
  background-color: #FCECEA;  /*←背景色*/
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  border: none;
  max-width: 500px;
  margin: 0 auto;//0 auto 0 autoのこと上下は0px左右は余った文を自動で半分にして振り分けてくれる。つまり最大500と設定してるので、ブラウザがそれより大きい場合500より余った幅を二つに割って左右に空白として入れてくれるのでちょうど真ん中に来る
}

.toc-box p {
  margin: 0.5em;  /* spanを囲んでるpタグの余白をリセット */
}

.toc-title {
  font-size: 1.1em;
  font-weight: bold;
  color: #EE817B; /*←タイトルの文字色*/
  margin: 0em;
  padding: 0em;
}

#markdown-toc ul {
  position: relative;
}

#markdown-toc li {
  font-weight: bold;
  border-bottom: dotted 1px #FFB2AE;
  font-size: 16px;
}

#markdown-toc a {
  color: #928484;  /*←見出しの文字色*/
}

#markdown-toc li li {
  font-weight: normal;
  font-size: 16px;
  position: relative;
  list-style: none;
}

#markdown-toc ul li::before {
  content: "";
  position: absolute; /* マイナス棒の「位置」の調整 */
  left: -20px; /* 💡文字の「左側」に飛び出させる距離（要微調整） */
  top: 50%; /* 上から50%の位置 */
  transform: translateY(-50%);  /* 文字の上下の真ん中にぴったり合わせる */
  width: 8px; /* マイナス棒の長さ（横幅） */
  border-top: solid 1px #928484;  /* 線の厚み（太さ）・種類・色 */
}

#markdown-toc li:last-child {
  border-bottom: none;
}
/*blog.mdの装飾*/
/*ブログカードの装飾*/
.blog-card {
  height: 95px; /* 好きな高さに */
  background: #f5f5f5;
  padding: 7px;        /* 枠の太さ */
  box-sizing: border-box; /* paddingを含めて高さ固定にする */
  margin-bottom: 16px;
  border-radius: 8px;         /* 角を丸くする */
  overflow: hidden;           /* 丸めた角から画像や背景がはみ出さないようにする */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* 影 */
}

.blog-card a {
  display: flex;
  height: 100%; /* カードの高さに合わせる */
  text-decoration: none;/*リンクの下のアンダーラインを消す時はこう*/
}/*blog-cardに入ってる子はaだけ、aの中にdiv二つの子要素が入ってるここではdiv二つをflexに横並びにするよう指定してる*/

.blog-card-image {
  flex-basis:28%;
}

.blog-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 縦横比を保ったまま枠を埋める（はみ出た部分はトリミング） */
  display: block;    /* 画像の下にできる余白を消す */
}

.blog-card-info {
  flex-basis: 72%;
  display: flex;
  flex-direction: column;/*ここでflexの横向きからblockの縦向きにしてくれる*/
  justify-content: space-between;
  padding-top: 7px; /* 上の余白を内側に作る */
}

.blog-card-info p {
  color: #928484;
  font-weight: bold;
  text-align: right;
  font-size: 13px;
  margin: 0 0 3px; /* 下に8pxだけ余白 */
}

.blog-card-title {
  color: #928484;
  font-weight: bold;
  font-size: 17px;
  margin: 0px 7px 0px 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;       /* 2行まで表示 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}