---
---
@import "{{ site.theme }}";

//大元のpタグやh1タグに装飾する時.main-contentつけないと強さで負けてしまって反映されない！！注意

.main-content p {
  margin-bottom: 2.5em;
}

.main-content h2 {
  font-size: 25px;
  color: #928484;
  font-weight: bold;
  padding: 10px 30px;
  margin-bottom: 1em;
  border-radius: 10px;
  background: #ffdeca;
}

.post-navigation {
  display: flex;
  justify-content: space-between;
}

.small-text {
  font-size: 85%;
}

.toc-box {
  font-size: 1.2em;
  padding: 1em 1em 1em;
  background-color: #FCECEA;
  /*←背景色*/
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  border: none;
  max-width: 500px;
  margin: 0 auto;//0 auto 0 autoのこと上下は0px左右は余った文を自動で半分にして振り分けてくれる。つまり最大500と設定してるので、ブラウザがそれより大きい場合500より余った幅を二つに割って左右に空白として入れてくれるのでちょうど真ん中に来る
}

.toc-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #EE817B;
  /*←タイトルの文字色*/
  margin: 0em;
}

#markdown-toc ul {
  position: relative;
}

#markdown-toc li {
  font-weight: bold;
  border-bottom: dotted 1px #FFB2AE;
  font-size: 16px;
}

#markdown-toc li li {
  font-weight: normal;
  font-size: 16px;
  position: relative;
  list-style: none;
}

#markdown-toc a {
  color: #928484;
  /*←見出しの文字色*/
}

#markdown-toc ul li::before {
  content: "";
  position: absolute;

  /* マイナス棒の「位置」の調整 */
  left: -20px;
  /* 💡文字の「左側」に飛び出させる距離（要微調整） */
  top: 50%;
  /* 上から50%の位置 */
  transform: translateY(-50%);
  /* 文字の上下の真ん中にぴったり合わせる */

  /* マイナス棒の「形」の調整 */
  width: 8px;
  /* マイナス棒の長さ（横幅） */
  border-top: solid 1px #928484;
  /* 線の厚み（太さ）・種類・色 */
}

#markdown-toc li:last-child {
  border-bottom: none;
}