---
---
@import "{{ site.theme }}";

//大元のpタグやh1タグに装飾する時.main-contentつけないと強さで負けてしまって反映されない！！注意

.main-content p {
  margin-bottom: 2.25em;
}

.toc-label {
  font-weight: bold;
  font-size: 1.2em; // お好みで
}

.post-navigation {
  display: flex;
  justify-content: space-between;
}

.small-text {
  font-size: 85%;
}

//.toc-box {} //もくじに設定したクラス名あとで装飾