---
layout: default
---

<div class="pankuzu">
  <a href="{{ '/' | relative_url }}">トップページ</a>
  <p> ＞ </p>
  <a href="{{ '/blog.html' | relative_url }}">ブログ一覧</a>
</div>

<h1>{{ page.title }}</h1>

<div class="date-navigation">
  <p>{{ page.date | date: "%Y年%m月%d日" }}</p>
</div>

<hr>
{{ content }}
<hr>

<div class="post-navigation">
  {% if page.previous %}
    <a href="{{ page.previous.url }}">← 前の記事</a>
  {% endif %}
  {% if page.next %}
    <a href="{{ page.next.url }}">次の記事 →</a>
  {% endif %}
</div>

<br>

<div class="top-navigation">
  <a href="/">トップページへ</a>
</div>
